* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: RGB(240,240,240);
}

#menubar {
	height: 40px;
	width: 100%;
	background-color: black;
}


li {
	display: inline;
}
#titlebar {
	width: 100%;
	height: 200px;
}

#title {
	left: 45%;
	top: 40px;
	font-size: 30px;
}

#petg {
	font-family: 'monoton';
	float: left;
}

#ingers {
	font-family: 'nosifer';
	color: red;
	
}

#msnStmt {
	width: 400px;
	float: right;
}
