* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: RGB(240,240,240);
}

#menubar {
	height: 40px;
	width: 100%;
	background-color: black;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

a:link, a:visited {
	display: block;
	width: 120px;
	color: #FFFFFF;
	background-color: #0000FF;
	height: 40px;
	text-align: center;
	text-decoration: none;
}

a:hover, a:active {
	background-color: #CCEEFF;
	color: #000000;
}

#titlebar {
	height: 200px;
	width: auto;
}

#title {
	margin-left: 20%;
	margin-top: 40px;
	width: 400px;
	font-size: 60px;
	font-style: italic;
	float: left;
}

#petg {
	font-family: 'Chela One';
	float: left;
	color: green;
	
}

#ingers {
	font-family: 'Merienda One';	
	color: orange;
}

#msnStmt {
	width: 400px;
	float: right;
	margin-right: 20%;
	font-size: 25px;
	font-style: italic;
	margin-top: 40px;
}